@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.layout {
  height: 100vh;
  background-image: linear-gradient(to bottom, white, #dbeafe, white);
}

.navbar-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
}

.logo {
  font-size: 18px;
  font-weight: 800;
}

.links {
  display: flex;
  gap: 16px;

  align-items: center;
}

.link-items {
  font-size: 18px;
  text-decoration: none;
  color: #525252;
}

.link-items:hover {
  color: black;
  transition: color 0.3s ease-out;
}

.btn {
  background-color: #3b82f6;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
  text-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
